.button {
  padding: 1em 2em;
  border: 0;
  border-radius: var(--button-border-radius);
  font-size: var(--base-font-size);
  text-align: center;
  text-decoration: none;
  background-color: var(--gray-light);
}
.button:active {
  background-color: var(--gray);
  color: #fff;
}

.button.is-primary {
  background-color: var(--primary-button);
  color: #fff;
}
.button.is-primary:active {
  background-color: var(--primary-button-active);
}
