form {
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 3px;
}

fieldset {
  padding: 0.5em 0;
  border: 0;
}

label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 500;
}

input, textarea {
  border: 1px solid var(--gray-lighter);
  font-size: var(--base-font-size);
}

.form-error {
  margin-top: 0;
  margin-bottom: 0.2em;
  color: var(--error);
}

.has-error input, textarea, select {
  border-color: var(--error);
}
