.form-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px) 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: var(--stations-gutter);
  padding: 1em;
  background-color: #fff;
  border-radius: 3px;
}

fieldset {
  padding: 0.5em 0;
  border: 0;
}

label {
  display: block;
  margin-bottom: 0.2em;
}

input, textarea {
  width: 100%;
  padding: 1em 1em;
  border: 1px solid var(--gray-lighter);
  font-size: var(--base-font-size);
}

.form-error {
  margin-top: 0;
  margin-bottom: 0.2em;
  color: var(--error);
}

.has-error input, textarea, select {
  border-color: var(--error);
}

form .button + .button,
form a:not(.button) + .button,
form .button + a:not(.button) {
  margin-left: 1em;
}
