body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-darker);
  font-size: var(--base-font-size);
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

/**
 * Links
 */
a,
a:visited {
  color: var(--gray-darker);
}

a:hover,
a:active {
  color: var(--gray);
}
