:root {
  --base-font-size: 16px;

  --red: #da0928;
  --red-dark: #cc0825;

  --gray-lighter: #e5e4ea;
  --gray-light: #bababc;
  --gray: #3d3e40;
  --gray-dark: #1f242a;
  --gray-darker: #131315;

  --error: var(--red);
  --primary-button: var(--red);
  --primary-button-active: var(--red-dark);
  --footer-bg: #313133;

  --button-border-radius: 3px;

  --stations-gutter: 5px;
  --stations-min-size: 25vmin;
}
