.Footer {
  padding: var(--stations-gutter);
  background-color: var(--footer-bg);
  color: #fff;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) min-content minmax(min-content, 1fr);
  align-items: center;
}

.Footer-title {
  height: 30px;
  margin: 0 30px;
  font-weight: 100;
  font-size: 30px;
}

.Footer-info {
  height: 30px;
  padding-top: 20px;
  font-size: 10px;
  white-space: nowrap;
}

.Footer-info,
.Footer-info a {
  color: var(--gray-light);
}

.Footer-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.Footer-actions > * {
  margin-left: var(--stations-gutter);
}

.Footer-actions > .button,
.Footer-actions > .button:active {
  white-space: nowrap;
  background: var(--gray-darker);
  color: #fff;
}

@media (max-width: 900px) {
  .Footer {
    grid-template-columns: min-content auto;
  }

  .Footer-title {
    grid-row: 1 / 2;
    height: auto;
  }

  .Footer-info {
    grid-row: 2 / 3;
    height: auto;
    margin: 0 30px;
    padding-top: 0;
  }

  .Footer-actions {
    grid-row: 1 / 3;
  }
}

@media (max-width: 530px) {
  .Footer {
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content;
  }

  .Footer-title,
  .Footer-info {
    margin: 0;
    text-align: center;
  }

  .Footer-actions {
    grid-row: 3 / 4;
    margin: 15px 0 0 0;
    justify-content: center;
  }
}
