.Station {
  /* Maintain 1:1 aspect ratio, see https://css-tricks.com/aspect-ratio-boxes/ */
  position: relative;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.Station-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  word-wrap: break-word;
  border: 0;
  border-radius: 10px;
  background-color: var(--gray-lighter);
  color: var(--gray-darker);
}

.Station-button-active {
  background-color: var(--gray-darker);
  color: var(--gray-lighter);
  font-weight: bold;
}

.Station-spinner {
  --spinner-width: 50%;
  position: absolute;
  width: var(--spinner-width);
  height: var(--spinner-width);
  left: calc((100% - var(--spinner-width)) / 2);
  top: calc((100% - var(--spinner-width)) / 2);
  border-radius: 50%;
  opacity: 1;
}
.Station-spinner:before,
.Station-spinner:after {
  content: '';
  border: 2px var(--gray-darker) solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.Station-spinner:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}
.Station-spinner:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
