.Stations {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--stations-min-size), 1fr)
  );
  grid-gap: var(--stations-gutter);
  padding: var(--stations-gutter);
}

.Stations-few {
  grid-template-columns: repeat(
    auto-fit,
    calc(100% / 3 - var(--stations-gutter))
  );
}
