:root {
  --stationsGutter: 5px;
  --stationsMinSize: 100px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-stations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--stationsMinSize), 1fr));
  grid-auto-rows: var(--stationsMinSize);
  grid-gap: var(--stationsGutter);
}

.App-station {
  font-size: 18px;
}

.App-station-active {
  background-color: darkgray;
  font-weight: bold;
}
