:root {
  --gray-lighter: #e5e4ea;
  --gray-light: #bababc;
  --gray: #3d3e40;
  --gray-darker: #1f242a;
  --gray-darker: #131315;

  --stations-gutter: 5px;
  --stations-min-size: 100px;
}

.App {
  min-height: 100vh;
  background-color: var(--gray);
}
