*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@import './styles/variables.css';
@import './styles/typography.css';
@import './styles/buttons.css';
@import './styles/forms.css';
